.fahrplan {
    all: unset;
}

.fahrplan table, tbody, thead, th, td {
    border:none;
}

.fahrplan thead {
    background-color: darkblue; 
    color: white; 
    text-align: left;
}

.fahrplan tbody {
    background-color: white;
}

.fahrplan th {
    padding: 5px; 
    padding-left: 5px; 
    text-align: left; 
    text-transform: capitalize;
}

.fahrplan td {
    padding: 5px; 
    padding-left: 5px; 
    text-align: left
}

.fahrplan tr:nth-child(even) {
    background-color: #EEEFFF;
}

.fahrplan tr:hover {
    background: silver; 
    cursor: pointer;
}

.schnellzug {
    color: red; 
    font-weight: bold;
}

.flixtrain {
    color: darkgreen; 
    font-weight: bold;
}
